@use "../variables";
@use "../mixins";

.apresentacao-swiper {
  overflow: hidden;
  display: flex;
  justify-content: center;

  @media ($mobile) {
    margin-top: 4rem;
  }

  .swiperApresentacao {
    width: 50%;
    max-height: 560px;
    width: 75%;

    @media ($mobile) {
      width: 100%;
    }

    .swiper-slide {
      img {
        width: 100%;
      }
    }
  }
}
