@use "../variables";
@use "../mixins";

.apresentacao-swiper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 6rem;

  @media ($mobile) {
    margin-top: 4rem;
  }

  .swiperApresentacao {
    width: 100%;
    max-height: 800px;

    @media ($mobile) {
      max-height: 560px;
    }

    .swiper-slide {
      min-height: 560px;
      .banner-apresentacao {
        height: 100%;
        background-size: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;

        a {
          color: $white;
          padding: 1rem;
          text-decoration: underline;
          font-size: 28px;

          @media ($mobile) {
            color: transparent;
          }
        }
      }

      #banner1 {
        @include bg-img("wecode1.jpg");
        @media ($mobile) {
          @include bg-img("Banner-home-principal-1.png");
        }
      }
      #banner2 {
        @include bg-img("wecode2.jpg");
        @media ($mobile) {
          @include bg-img("Banner-home-principal-2.png");
        }
      }
      #banner3 {
        @include bg-img("wecode2.jpg");
        @media ($mobile) {
          @include bg-img("Banner-home-principal-3.png");
        }
      }
    }
  }
}
