@use "../variables";
@use "../mixins";

.apresentacao-swiper {
  margin-top: 4rem;
  overflow: hidden;

  .swiperApresentacao {
    width: 100%;
    height: 560px;

    .swiper-slide {
      img {
        width: 100%;
      }
    }
  }
}
