@use "../variables";
@use "../mixins";

.container-departamentos {
  padding: 1rem;
  margin-top: 1rem;
  .departamentos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    #departamento1 {
      @include bg-img("Banner-home-departamento-1.png");
    }
    #departamento2 {
      @include bg-img("Banner-home-departamento-2.png");
    }
    #departamento3 {
      @include bg-img("Banner-home-departamento-3.png");
    }
    #departamento4 {
      @include bg-img("Banner-home-departamento-4.png");
    }
    #departamento5 {
      @include bg-img("Banner-home-departamento-5.png");
    }
    #departamento6 {
      @include bg-img("Banner-home-departamento-6.png");
    }

    .card-departamento {
      @include flex;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 200px;
      width: 200px;
      margin: 1rem 0.5rem;
      transition: all 0.5s;

      @media ($mobile-sm) {
        height: 160px;
        width: 160px;
        margin: 0.7rem 0.2rem;
      }

      &:hover {
        background-size: 120%;
      }

      h2 {
        color: $white;
        font-weight: 250;
      }
    }
  }
}
