@use "../variables";
@use "../mixins";

.container-exclusivos {
  padding: 1.5rem;
  @media ($mobile-sm) {
    padding: 0;
  }
  margin-top: 2rem;
  overflow: hidden;
  .exclusivos {
    h1 {
      padding: 0.5rem 0.8rem 0.2rem;
      font-size: 20px;
    }
    .swiperExclusivos {
      width: 100%;
      height: 100%;
      padding: 1.5rem;

      .swiper-slide {
        display: flex;
        justify-content: center;

        #slide1 {
          @include bg-img("Imagem-home-produto-1.png");
        }
        #slide2 {
          @include bg-img("Imagem-home-produto-3.png");
        }
        #slide3 {
          @include bg-img("Imagem-home-produto-2.png");
        }

        .card-cafe {
          height: 400px;
          width: 270px;
          padding: 1.5rem;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          .infos-cafe {
            display: flex;
            flex-direction: column;

            div {
              @include flex;
              justify-content: space-between;
              color: $white;

              a {
                text-decoration: line-through;
              }
              span {
                color: $secondary-color;
              }
            }
          }

          .lancamento {
            display: flex;
            justify-content: space-between;

            p {
              background-color: $secondary-color;
              padding: 3px;
            }
          }

          .sem-lancamento {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        color: $strong-yellow;

        &::after {
          font-size: 4rem;
        }
      }
    }
  }
}
