@use "../variables";
@use "../mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  height: 6rem;
  z-index: 100;
  padding: 3rem;

  @media ($mobile-sm) {
    height: 4rem;
    padding: 1rem;
  }
}
