$black: #000000;
$white: #ffffff;
$primary-color: #232323;
$secondary-color: #eeff49;
$arrow-swiper: #333333;
$background-financeiro: #dddddd;
$text-color-financeiro: #666666;
$background-vtex: #142032;

$closeBtn: #878787;
$rectangle: #b3b3b3;

$mobile-sm: "max-width: 480px";
$mobile: "max-width: 768px";
